body {
  background-image: linear-gradient(to right, #000000, #002249);
  padding: 50px;
}
@font-face {
  font-family: tech;
  src: url(../public/Fontes/DESIGNER.otf);
}

#logo {
   font-family: tech;
}
h1 {
  width: auto;
}

#nav-home {
  color: aqua;
}
#nav {
  color: aliceblue;
}
#footer {
  border-radius: 15px 15px 0 0;

}
#conteudo-main{
  font-family: tech;
  color: aliceblue;
}



