body {
  background-image: linear-gradient(to right, #000000, #002249);
  padding: 50px;
}
@font-face {
  font-family: tech;
  src: url(../public/Fontes/DESIGNER.otf);
}

#logo {
   font-family: tech;
}
h1 {
  width: auto;
}

#nav-home {
  color: aqua;
  transition: 0.5s;
}
#nav-home:hover {
  color: rgb(0, 255, 102);
  transform: translateY(-5px);
}
#nav {
  color: aliceblue;
  transition: 0.5s;
}
#nav:hover {
  transform: translateY(-5px);
}
#footer {
  border-radius: 15px 15px 0 0;

}
#conteudo-main{
  font-family: tech;
  color: aliceblue;
}

#button {
  border: #ffffff solid 2px;
  padding: 10px;
  border-radius: 15px;
  transition: 0.5s;
}
#button:hover {
  transform: scale(1.1);
}
#main-sobre {
  align-items: center;
}

#icon-xp {
  transition: 0.5s;
} 
#icon-xp:hover{
  transform: translateY(-10px);
  transform: scale(1.2);
}
#input {
  border: 2px black solid;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#conteiner-flex {
  display: flex;
  gap: 8px;
}

#button1 {
  border: #ffffff solid 2px;
  padding: 10px;
  margin-top: 20%;
  border-radius: 15px;
  transition: 0.5s;
} 

#projetos {
  height: 516px;
}